/*
Styles for:
Plugin Name: El Globus Vermell - guies options
Plugin URI: https://guiesbarcelona.elglobusvermell.org/
Author: jorge - vitrubio.net
Authaor URI: https://vitrubio.net/
License: GPL 3.0
License URI:https://www.gnu.org/licenses/gpl-3.0.html
*/
 .category-avantguarda-1928-1938 .egv_title h3{
	 border-bottom: 1px solid #dd9933;
}
 nav a:hover[href$="/avantguarda-1928-1938/"] {
	 color: #dd9933;
}
 .category-moderna-1950-1975 .egv_title h3{
	 border-bottom: 1px solid #a9d689;
}
 nav a:hover[href$="/moderna-1950-1975/"] {
	 color: #a9d689;
}
 .category-barceloneta .egv_title h3{
	 border-bottom: 1px solid #0512c4;
}
 nav a:hover[href$="/barceloneta/"] {
	 color: #0512c4;
}
 .category-biblioteques .egv_title h3{
	 border-bottom: 1px solid ;
}
 nav a:hover[href$="/biblioteques/"] {
	 color: ;
}
 .category-eixample-jardins-interiors .egv_title h3{
	 border-bottom: 1px solid #ddaa5d;
}
 nav a:hover[href$="/eixample-jardins-interiors/"] {
	 color: #ddaa5d;
}
 .category-mercats .egv_title h3{
	 border-bottom: 1px solid #880064;
}
 nav a:hover[href$="/mercats/"] {
	 color: #880064;
}
 .category-poblenou-industrial .egv_title h3{
	 border-bottom: 1px solid #1ac6cc;
}
 nav a:hover[href$="/poblenou-industrial/"] {
	 color: #1ac6cc;
}
 .category-text .egv_title h3{
	 border-bottom: 1px solid ;
}
 nav a:hover[href$="/text/"] {
	 color: ;
}